.clients-title {
  @extend %h2titles;
  padding-top: 95px;
  padding-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
  margin-bottom: 95px;
  margin-left: 215px;
}
.clients-svg {
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  padding: 16px 32px;
  fill: #afb1b8;
}
