.footer {
  background-color: var(--color-text-title);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
}
.footer-homeaddress {
  color: var(--color-text-white);
  font-style: normal;
}
.footer-link {
  font-style: normal;
}
.footer-logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-white);
  font-family: var(--font-secondary);
}
