.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-logo);
}
.header-span {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-hover);
}
