.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02cm;
  color: var(--color-text-title);
}
.nav-link.current-page {
  color: #2196f3;
}
.nav-link.current-page::after {
  @extend %nav-underline;
}
.contacts-list {
  display: flex;
  gap: 50px;
}
.contacts-link {
  font-style: normal;
}
.contacts-link:hover {
  @extend %nav-hover;
}
.nav-link:hover {
  @extend %nav-hover;
}
.nav-link:hover::after {
  @extend %nav-underline;
}
