:root {
  --color-text-title: #212121;
  --color-text-description: #757575;
  --color-text-white: #ffffff;
  --color-text-hover: #2196f3;
  --color-text-logo: #000000;
  --color-bg-service: #2f303a;
  --color-text-address: rgb(255, 255, 255, 0.6);
  --color-bg-underheader: #ececec;
  --color-bg-ourteam: #f5f4fa;
  --font-primary: "Roboto", serif;
  --font-secondary: "Raleway", serif;
}
body {
  font-family: var(--font-primary);
  line-height: 1.71;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03cm;
  color: var(--color-text-description);
}
.header-logo {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-logo);
}
.header-span {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-hover);
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02cm;
  color: var(--color-text-title);
}
.contacts-link {
  font-style: normal;
}
.contacts-link:hover {
  color: var(--color-text-hover);
}
.nav-link:hover {
  color: var(--color-text-hover);
}
.hero {
  background-color: var(--color-text-title);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06cm;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-white);
  line-height: 1.36;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06cm;
  text-align: center;
  line-height: 1.87;
  color: var(--color-text-white);
}
.advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.advantages-text {
  letter-spacing: 0.02cm;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-title);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-title);
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-text-title);
}
.teammate-role {
  font-size: 16px;
  text-align: center;
}
.footer {
  background-color: var(--color-text-title);
}
.footer-homeaddress {
  color: var(--color-text-white);
  font-style: normal;
}
.footer-link {
  font-style: normal;
}
.footer-logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-white);
  font-family: var(--font-secondary);
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-text-title);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06cm;
  color: var(--color-text-title);
}
.gallery-function {
  font-size: 16px;
}
