:root {
  --color-text-title: #212121;
  --color-text-description: #757575;
  --color-text-white: #ffffff;
  --color-text-hover: #2196f3;
  --color-text-logo: #000000;
  --color-bg-service: #2f303a;
  --color-text-address: rgb(255, 255, 255, 0.6);
  --color-bg-underheader: #ececec;
  --color-bg-ourteam: #f5f4fa;
  --font-primary: "Roboto", serif;
  --font-secondary: "Raleway", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: 0;
  font-size: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  line-height: 1.71;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03cm;
  color: var(--color-text-description);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1215px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.icons-list {
  display: flex;
  flex-direction: row;
  margin-left: 44px;
  padding-bottom: 42px;
  gap: 34px;
}

.icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02cm;
  color: var(--color-text-title);
}

.nav-link.current-page {
  color: #2196f3;
}

.nav-link.current-page::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-link {
  font-style: normal;
}

.contacts-link:hover {
  color: var(--color-text-hover);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  color: var(--color-text-hover);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-logo);
}

.header-span {
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-hover);
}

.hero {
  background-image: url(../img/hero-bg.jpg), linear-gradient(rgba(47, 48, 58, 0.4));
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06cm;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-white);
  line-height: 1.36;
  max-width: 700px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06cm;
  text-align: center;
  line-height: 1.87;
  color: var(--color-text-white);
  background-color: #2196f3;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: skyblue;
  transform: translate(-50%, -50%);
}

.advantages {
  padding-top: 95px;
  padding-bottom: 95px;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.advantages-item:nth-child(1)::before {
  background-image: url(../img/advantages/details.svg);
}

.advantages-item:nth-child(2)::before {
  background-image: url(../img/advantages/clock.svg);
}

.advantages-item:nth-child(3)::before {
  background-image: url(../img/advantages/chart.svg);
}

.advantages-item:nth-child(4)::before {
  background-image: url(../img/advantages/astronaut.svg);
}

.advantages-title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text-title);
}

.advantages-text {
  letter-spacing: 0.02cm;
}

.team {
  background-color: var(--color-bg-ourteam);
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-list {
  display: flex;
  gap: 30px;
  margin-bottom: 95px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-title);
  padding-bottom: 50px;
}

.teammate {
  background-color: white;
  max-width: 270px;
  border-radius: 10px;
}

.teammate-card-div {
  margin-bottom: 30px;
  max-width: 270px;
  max-height: 428px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--color-text-title);
  margin-bottom: 10px;
  margin-top: 30px;
}

.teammate-role {
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
}

.work-list {
  display: flex;
  gap: 30px;
  padding-bottom: 95px;
}

.work-item {
  position: relative;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--color-text-title);
  padding-bottom: 50px;
}

.work-label {
  font-weight: 700;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  height: 70px;
}

.clients-title {
  font-size: 36px;
  letter-spacing: 3%;
  color: #212121;
  padding-top: 95px;
  text-align: center;
  padding-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  margin-bottom: 95px;
  margin-left: 215px;
}

.clients-svg {
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  padding: 16px 32px;
  fill: #afb1b8;
}

.footer {
  background-color: var(--color-text-title);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 215px;
}

.footer-homeaddress {
  color: var(--color-text-white);
  font-style: normal;
}

.footer-link {
  font-style: normal;
}

.footer-logo {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-white);
  font-family: var(--font-secondary);
}